<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.letv.sync.mapper.SsoCodeMapper">
	<resultMap id="SsoCodeMap" type="com.kingdee.mcloudEsb.model.SsoCodeModel" >
		<id column="FID" property="id" jdbcType="INTEGER" />
	    <result column="FCode" property="code" jdbcType="VARCHAR" />
	    <result column="FUrl" property="url" jdbcType="VARCHAR" />
	 </resultMap>
	
	<select id="selectByCode" parameterType="STRING" resultMap="SsoCodeMap">
		select fid, FCode,FUrl from t_sso_code where FCode=#{code}
	</select>
	<select id="selectAllCode" parameterType="STRING" resultMap="SsoCodeMap">
		select fid, FCode,FUrl from t_sso_code 
	</select>
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.kingdee.letv.sync.model.SsoCodeModel">
		insert into t_sso_code(FCode,FUrl)values(#{code},#{url})
	</insert>
	<select id="selectByLimit"  resultMap="SsoCodeMap">
		select fid, FCode,FUrl  from t_sso_code  order by fid DESC LIMIT #{0},#{1} 
	</select>
	<update id="update"  parameterType="com.kingdee.letv.sync.model.SsoCodeModel">
		update t_sso_code set FUrl=#{url} where FCode=#{code}
	</update>
</mapper>